*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    background: rgb(24, 13, 182);
}

form{
    background: #000231;
    width: 300px;
    margin: 200px auto;
    border-radius: 10px;
}

form > input{
    background: #4a4fd1;
    width: 80%;
    margin: 12px 30px;
    height: 35px;
    border-radius: 10px;
}